body {
    font-family: 'Roboto';
    font-size: 22px;
}

input[type=text]{
    border-radius: .25rem;
    width: 75%;
}

a{
    text-decoration: none;
    margin: 20px 20px;
}

a:any-link{
    text-decoration: none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-box{
    max-width: 50%;
}

.btn{
    padding: 10px;
    margin: 10px;
    border-radius: .25rem;
    cursor: pointer;
    border: none;
    text-align: center;
    background: #00afc4;
    color: white;
}